extends layout

block content
  .container.mt-5
    if (!user)
      a.btn.btn-outline-primary(href="/login") Login
      br
      a.btn.btn-outline-success.mt-2(href="/register") Register
    else
      p.text-success You are logged in as #{user.username}
      a.btn.btn-outline-info(href="/gadgets") Go to Gadgets
      br
      a.btn.btn-outline-danger.mt-2(href="/logout") Logout
